# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/

# Logs
*.log

# Tests artifacts
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# App temp/uploads
uploads/
tmp/

